 *,
 *::before,
 *::after {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     min-height: 100vh;
     background: black;
 }

 .banner {
     width: 100%;
     height: 100vh;
     text-align: center;
     overflow: hidden;
     position: relative;

     >.angle {
        /* background-image: url(../img/5900217177380425161__1_-removebg-preview.png);
        width: 100%;
        height: 70vh;
        left: 0;
        bottom: 0;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center; */
         /* width: 100%;
         height: 100%;
         clip-path: circle(5%);
         background-color: rgba(255, 255, 255, 0.699);
         transform-style: preserve-3d;
         transform: perspective(1000px);
         z-index: 1; */

            


     }

     /* >.content{
       display: flex;
       align-items: center;
       flex-wrap: wrap;
       justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 100px;
        
    } */

     >.slider {
         position: absolute;
         width: 200px;
         height: 250px;
         top: 10%;
         left: calc(50% - 100px);
         transform-style: preserve-3d;
         transform: perspective(500px);
         animation: autorun 20s linear infinite;
         z-index: 2;

         >.items {
             position: absolute;
             inset: 0 0 0 0;
             transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);

             >img {
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
             }
         }
     }

 }

 @keyframes autorun {
     from {
         transform: perspective(1000px) rotatex(-20deg) rotateY(0deg);
     }

     to {
         transform: perspective(1000px) rotatex(-20deg) rotateY(360deg);

     }
 }